<div class="offset-2">
  <div class="row mt-4">
    <mark class="h4 table-secondary">マイページ</mark>
  </div>

  <div class="row">
    <table width="300">
      <tr>
        <td><h4><strong>登録情報</strong></h4></td>
        <% if  customer_signed_in? %>
        <th><%= link_to "編集する", public_customers_infomation_edit_path, class: 'btn btn-success ' %></th>
        <% end %>
      </tr>
    </table>
  </div>


  <div class="row mt-4">
    <div class="col-xs-offset-1">
      <table class="table table-bordered table-condensed" >
        <tbody>
          <tr>
            <td class="info table-secondary ">ニックネーム</td>
            <td class="text-left"><%= @customer.name %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <mark class="h4 table-secondary">投稿レシピ一覧</mark>
  <div class="row">
    <table class="table table-light table-bordered">
      <thead class="thead-light"></thead>
        <tr>
          <th></th>
          <th>投稿者</th>
          <th>レシピ名</th>
          <th>ジャンル</th>
          <th>いいね</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @recipes.each do |recipe| %>
          <tr>
            <th><%= image_tag recipe.get_image, size: "100x100" %></th>
            <th><%= link_to public_customer_path(recipe.customer.id) do %>
                  <%= recipe.customer.name %>
                <% end %>
            </th>
            <th><%= recipe.name %></th>
            <th><%= recipe.genre.category %></th>
            <th>♥<%= recipe.favorites.count %> いいね</th>
            <th>
              <button type="button" class="btn btn-outline-dark btn-sm">
                <%= link_to "詳細", public_recipe_path(recipe.id), class: "nav-link" %>
              </button>
        <% if recipe.customer == current_customer %>
                <button type="button" class="btn btn-outline-dark btn-sm">
                  <%= link_to "編集", edit_public_recipe_path(recipe.id), class: "nav-link" %>
                </button>
                <button type="button" class="btn btn-outline-dark btn-sm">
                  <%= link_to "削除", public_recipe_path(recipe.id), method: :delete, class: "nav-link" %>
                </button>
         <% end %>
            </th>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="row">
    <p><%=link_to"お気に入り記事一覧へ",favorites_public_customer_path(@customer), class: 'btn btn-primary ' %></p>
  </div>

</div>