
<div class="container">
  <h1>投稿フォーム</h1>

<%#= render 'layouts/recipe_error', recipe: @recip %>
  <% if @recipe.errors.any? %>
    <%= @recipe.errors.count %>件のエラーが発生しました
    <ul>
      <% @recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>

  <%= form_with model: @recipe, url: public_recipes_path, method: :post do |f| %>

    <div class="row">
      <div class="col-lg-4">
        <h4>レシピ画像</h4>
        <%= f.file_field :image, accept: "image/*" %>
        <h4>レシピ名</h4>
        <%=f.text_area :name, class: "form-control", style: "width:100%", rows: "2"  %>
      </div>

      <div class="col-lg-8">
        <h4>カテゴリ</h4>
        <%= f.collection_select :genre_id, Genre.all, :id, :category, class: "form-control", style: "width:100%" %>
        <h4>概要</h4>
        <%=f.text_area :description, class: "form-control", style: "width:100%", rows: "4" %>
      </div>
    </div>

    <div class="row">

      <div class="form-group col-lg-6">
        <h4>材料</h4>
        <%=f.text_area :tips, class: "form-control", style: "width:100%", rows: "7" %>
      </div>

      <div class="form-group col-lg-6">
        <h4>お酒</h4>
         <%=f.text_field :drink, class: "form-control", style: "width:100%", rows: "2" %>
        <h4>お酒説明</h4>
        <%=f.text_area :drink_point, class: "form-control", style: "width:100%", rows: "4" %>
      </div>

    </div>

    <div class="row">
      <div class="form-group col-lg-12">
        <h4>作り方</h4>
        <%=f.text_area :point, class: "form-control", style: "width:100%", rows: "5"  %>
      </div>
    </div>

    <div class= "row">
      <div class="form-group col-lg-12">
      <%= f.submit '投稿', class: "btn btn-outline-dark btn-sm　" %>
      </div>
    </div>
  <% end %>
  
  <%= render 'layouts/new_tag', all_ranks: @recipe %>
  
</div>