<div class="container">

  <div class="row m-2">

    <div class="col-lg-8">
      <h1><%= @recipe.name  %></h1>
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <% if customer_signed_in? %>
          <td id="favorite_buttons_<%= @recipe.id %>" >
            <%= render 'layouts/favorites', recipe: @recipe %>
          </td>
        <% else %>
          <h4><%= @recipe.favorites.count %> いいね</h4>
        <% end %>
      </div>
    </div>
  </div>


    <div class="row">
      <div class="col-lg-4">
        <h4>レシピ画像</h4>
        <%= image_tag @recipe.get_image, size: "300x300" %>
        
        <div class="tag-box">
          <% @recipe.tags.each do |tag| %>
            <span class="label"><%= tag.name %></span>
          <% end %>
        </div>
        <div class="mt-1">
        <span class="label-score">レシピ名スコア：<%= @recipe.score %></span>
        </div>
      </div>
      <div class="col-lg-8">
        <h4>カテゴリ</h4>
        <%= @recipe.genre.category %>
        <h4>概要</h4>
        <%= @recipe.description %>
      </div>
    </div>

    <div class="row">

      <div class="form-group col-lg-6">
        <h4>材料</h4>
        <%= @recipe.tips %>
      </div>

      <div class="form-group col-lg-6">
        <h4>お酒</h4>
         <%= @recipe.drink %>
        <h4>お酒説明</h4>
        <%= @recipe.drink_point %>
      </div>

    </div>


  <div class="row">
      <div class="form-group col-lg-12">
        <h4>作り方</h4>
        <%= @recipe.point %>
      </div>
  </div>

  <div class="row mt-3">
    <div class="col-lg-4">
      <mark class="h4 table-secondary">コメント一覧</mark>
    </div>
    <div class="col-lg-4">
      コメント件数：<%= @recipe.recipe_comments.count %>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-lg-11">
      <table class="table table-light table-bordered mt-3">
        <thead class="thead-light">
          <tr>
            <th>ユーザー</th>
            <th>投稿日</th>
            <th>コメント</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @recipe.recipe_comments.each do |recipe_comment| %>
            <tr>
              <th class="col-lg-3"><%= recipe_comment.customer.name %></th>
              <th class="col-lg-2"><%= recipe_comment.created_at.strftime('%Y/%m/%d') %></th>
              <th class="col-lg-6"><%= recipe_comment.comment %></th>
              <th class="col-lg-1">
                <% if recipe_comment.customer == current_customer %>
                  <%= link_to "削除", public_recipe_recipe_comment_path(recipe_comment.recipe, recipe_comment), method: :delete, class: "btn btn-danger" %>
                <% end %>
              </th>
            <tr>
          <% end %>
       </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4">
      <% if customer_signed_in? %>
      <%= form_with model: [@recipe, @recipe_comment], url:  public_recipe_recipe_comments_path(@recipe)   do |f| %>
        <%= f.text_area :comment, style: "width:100%", rows: '5', placeholder: "コメントをここに" %>
        <%= f.submit "送信する" %>
      <% end %>
      <% end %>
    </div>
  </div>

</div>