<div class="offset-2">
  
  <div class="row mt-4">
    <mark class="h4 table-secondary">マイページ</mark>
  </div>
  
  <div class="row mt-4">
    <div class="col-xs-offset-1">
      <table class="table table-bordered table-condensed" >
        <tbody>
          <tr><%= image_tag @customer.get_profile_image, size: "100x100" %><tr>
          <tr>
            <td class="info table-secondary border-">氏名</td>
            <td class="text-left"><%= @customer.name %></td>
          </tr>
          <tr>
            <td class="info table-secondary">メールアドレス</td>
            <td class="text-left"><%= @customer.email %></td>
          </tr>
          <tr>
            <td class="info table-secondary">会員ステータス</td>
            <td>
              <% if @customer.is_deleted %>
                <p>退会</p>
              <% else %>
                <p class="text-success">有効</p>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
  <%= link_to "編集する", edit_admin_customer_path(@customer.id), class: "btn btn-success" %>
   
  <div class="row mt-3">
    <div class="col-lg-8">
      <mark class="h4 table-secondary">投稿レシピ一覧</mark>
      <table class="table table-light table-bordered">
        <thead class="thead-light">
          <tr>
            <th></th>
            <th>投稿者</th>
            <th>レシピ名</th>
            <th>ジャンル</th>
            <th>コメント数</th>
            <th>いいね</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @recipes.each do |recipe| %>
            <tr>
              <th><%= image_tag recipe.get_image, size: "100x100" %></th>
              <th><%= recipe.customer.name %></th>
              <th><%= recipe.name %></th>
              <th><%= recipe.genre.category %></th>
              <th><%= link_to "#{recipe.recipe_comments.count} コメント", admin_recipe_path(recipe.id) %></th>
              <th>♥<%= recipe.favorites.count %> いいね</th>
              <th>
                <button type="button" class="btn btn-outline-dark btn-sm">
                  <%= link_to "詳細", admin_recipe_path(recipe.id), class: "nav-link" %>
                </button>
                <button type="button" class="btn btn-outline-dark btn-sm">
                  <%= link_to "削除", admin_recipe_path(recipe.id), method: :delete, class: "nav-link" %>
                </button>
              </th>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  
</div>

<%= paginate @recipes %>