<div class="container">

  <div class="row mt-4">
    <mark class="h4 table-secondary">ジャンル一覧追加</mark>
  </div>

<%# ジャンル追加機能　%>
  <div class="row">
    <%= form_with model: Genre.new, url: admin_genres_path, method: :post do |f| %>
      <table class="table table-borderless">
        <tr>
          <td>ジャンル名</td>
          <td><%= f.text_field :category %></td>
          <td><%= f.submit '新規投稿', class: "btn btn-success" %></td>
        </tr>
      </table>
    <% end %>
  </div>

<%# ジャンル一覧編集機能　%>
  <div class="row">
    <table class="table table-light table-bordered">
      <thead class="thead-light"></thead>
        <tr>
          <th>ジャンル</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @genres.each do |genre| %>
          <tr>
            <th><%= genre.category %></th>
            <th>
              <%= link_to "編集する", edit_admin_genre_path(genre.id), class: "btn btn-success" %>
            </th>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  
</div>

<%= paginate @genres %>