<%= form_with model: @recipe, url: public_recipes_path, method: :post do |f| %>

    <div class='form-group'>
        <%= f.collection_check_boxes(:tag_ids, Recipetag.all, :id, :name) do |tag| %>
            <div class='form-check'>
                <%= tag.label class: 'form-check-label' do %>
                    <%= tag.check_box class: 'form-check-input' %>
                    <%= tag.text %>
                <% end %>
            </div>
        <% end %>
    </div>

    <%= f.submit '送信' %>
<% end %>

<!-- テスト以下を追記 -->
<%= form_tag({controller:"tweets",action:"index"}, method: :get) do %>
    <%= text_field_tag :tag %>
    <%= submit_tag 'タグを追加' %>
<% end %>

<%= form_with model: @recipe, url: public_recipes_path, method: :post do |f| %>

    <div class='form-group'>
        <%= f.collection_check_boxes(:tag_ids, Recipetag.all, :id, :name) do |tag| %>
            <div class='form-check'>
                <%= tag.label class: 'form-check-label' do %>
                    <%= tag.check_box class: 'form-check-input' %>
                    <%= tag.text %>
                <% end %>
            </div>
        <% end %>
    </div>

    <%= f.submit '送信' %>
<% end %>
<!-- ここまで -->